<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h2>Подпишитесь на новости сервиса</h2>
        <p class="mt-0 mb-30">Вы будете получать новости проекта, сообщения об акциях сервиса</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="row mb-15">
          <form action="http://autodesk.us7.list-manage.com/subscribe/post?u=229fda9ef668fad2907e96057&amp;id=661d508cb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="input-group input-group-lg mb-30 col-md-10 col-lg-10">
              <input type="email" value="" name="EMAIL" class="email form-control" placeholder="Введите свой email" id="mce-EMAIL" required>
              <span class="input-group-btn">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">Отправить</button>
              </span> </div>
          </form>
        </div>
        <!--End mc_embed_signup-->

      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h2>3D Models в социальных сетях</h2>
        <p class="mt-0">Последние новости и обсуждения. Мы интерактивны!</p>
        <p><a href="http://www.facebook.com/Autodesk123D" target="_blank" class="mr-10"><img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/02/facebook.png" alt="Visit 123D on Facebook" width="60" height="60"></a> <a href="http://www.twitter.com/Autodesk123D" target="_blank" class="mr-10"><img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/02/twitter.png" alt="Visit 123D on Twitter" width="60" height="60"></a> <a href="http://www.youtube.com/Autodesk123D" target="_blank" class="mr-10"><img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/02/youtube.png" alt="Visit 123D on YouTube" width="60" height="60"></a> <a href="http://www.pinterest.com/Autodesk123D" target="_blank"><img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/02/pinterest.png" alt="Visit 123D on Pinterest" width="60" height="60"></a></p>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</footer>
<div class="container info mt-30 mb-30 pb-30 pt-30">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <p><a href="http://autodesk.com" target="_blank"><img alt="Go to Autodesk.com" src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/02/123D_logo_footer.png"></a></p>
      <p>3D проектирование - относительно новое направление. С появлением доступных 3D принтеров у множества людей появилась возможность в домашних условиях или в офисе легко и быстро создать масштабную модель.</p>
      <p>&copy; 2015 ООО "Инфоком-НН". Все права защищены.</p>
      <ul class="list-inline list-unstyled">
        <li><a href="#" target="_blank">Пользовательское соглашение</a></li>
        <li><a href="#" target="_blank">Карта сайта</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2">
      <h4>Меню</h4>
      <ul class="list-unstyled">
        <li><a href="/design">123D Design</a></li>
        <li><a href="/make">123D Make</a></li>
        <li><a href="/sculptplus">123D Sculpt+</a> <span class="label label-success">New</span></li>
        <li><a href="/catch">123D Catch</a></li>
        <li><a href="/circuits">123D Circuits</a></li>
        <li><a href="http://www.tinkercad.com" target="_blank">Tinkercad</a></li>
        <li><a href="/meshmixer">Meshmixer</a></li>
        <li><a href="/sandbox#section-shapeshifter">Project Shapeshifter</a></li>
      </ul>
    </div>

  </div>
</div>

<script>
    $('#NavBar').affix({
        offset: {
            top: 100
        }
    });

</script>