<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700|Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

<!-- Scripts are placed here -->
<script src="http://www.123dapp.com/builds/base.master.libs.script-e9b4b029040427794e0e2dd514d822d2.js"></script>

<div id="NavBar" class="navbar-wrap">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/05/logo-123d.png" alt="Autodesk 123D" alt="Autodesk 123D" class="img-responsive" />
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="first has-subnav">
          <a href="/">
            Главная
          </a>
        </li>
        <li class="has-subnav">
          <%= link_to "Каталог 3D моделей", models_path %>
        </li>
        <li>
          <%= link_to "Блог", articles_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="MenuGuest" href="/gopremium" rel="nofollow">
            Зарегистрироваться
          </a>
        </li>
        <li>
          <a class="MenuGuest MenuLogin" href="/login">
            Войти
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /Main nav -->
</div>