  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2015/01/introducing-123d-sculpt-plus.jpg" alt="Introducing 123D Sculpt+" />
      <div class="carousel-caption" style="left: 50%">
        <h2 style="text-shadow: 1px 1px 25px #000; color: #FFF;">Каталог моделей 3D</h2>
        <p class="lead hidden-xs hidden-sm">Найти 3D модель для принтера</p>
        <p><%= link_to "Найти 3D модель", models_path, :class => "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>

<section class="section section-gray">
  <div class="container">
    <div class="row">
      <!-- Content -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pr-50">
        <h3 class="mt-0">Бесплатно скачивайте 3D модели для 3D принтера!</h3>
        <p>Ищите 3D модели? В нашем каталоге вы можете найти тысячи моделей для 3D принтеров в формате .stl</p>
        <p>У нас есть платные и бесплатные модели. Стоимость платных составляет всего 30 рублей за скачивание!</p>
        <p><a href="/create" class="btn btn-default">Найти модель</a> <a href="/gallery" class="btn btn-default">Browse 3D Models</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="/catch">
                  <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/04/productIcon_Catch_48x48.png" width="80" heilt="80"/>
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/catch">123D Catch</a></h4>
                  <span>Generate 3D models from photos ываы аыва уц апвап п вапвыкпе вапикп ап кп вяпвпк пвпе аып р вапрывп ареып парквер па</span> </div>
              </li>
              <li class="media"><a class="pull-left" href="/circuits">
                <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/04/productIcon_Circuits_48x48.png" width="80" heilt="80" alt=""/> </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/circuits">123D Circuits</a></h4>
                  <span>Design your next electronic project ываы аыва уц апвап п вапвыкпе вапикп ап кп вяпвпк пвпе аып р вапрывп ареып парквер па</span> </div>
              </li>
              <li class="media"><a class="pull-left" href="/design"> <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/04/productIcon_Design_48x48.png" width="80" heilt="80" alt=""/> </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/design">123D Design</a></h4>
                  <span>Easy 3D modeling for Web, Mac, and PC ываы аыва уц апвап п вапвыкпе вапикп ап кп вяпвпк пвпе аып р вапрывп ареып парквер па</span> </div>
              </li>
              <li class="media"><a class="pull-left" href="/make"> <img src="http://cdn.123dapp.com/wp/wp-content/uploads/2014/04/productIcon_Make_48x48.png" width="80" height="80"  alt=""/> </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/make">123D Make</a></h4>
                  <span>Unique 3D models from 2D slices ываы аыва уц апвап п вапвыкпе вапикп ап кп вяпвпк пвпе аып р вапрывп ареып парквер па </span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>