<div id="main">
  <div class="sub-header">
    <div class="container"><!-- InstanceBeginEditable name="PageHeaderContent" -->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
          <h2>
            Блог
            <small>
              / Последние новости сервиса "All Models"
            </small>
          </h2>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="brand-logo"></div>
        </div>
      </div>
      <!-- InstanceEndEditable --></div>
  </div>

  <div class="clear"><!-- --></div>
  <link   href="http://123dapp.com/JavaScript/v4/AutoSuggestion/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="http://blog.123dapp.com/wp-content/themes/123d/style.css" rel="stylesheet" type="text/css"/>

  <div class="container bodyContainer" style="padding-top: 30px;">
    <div class="content container row">
      <div class="col-xs-12 col-sm-12 col-md-9 mainContent">
        <div class="post-10062 post type-post status-publish format-standard hentry category-123d category-123d-catch category-123d-design category-123d-make category-123d-sculpt category-3d-capture category-3d-modeling category-3d-printing category-art-2 category-artist-in-residence category-autodesk-2 category-meshmixer post" id="post-10062"><!-- post div -->
          <h2 class="title">
            <a href="http://blog.123dapp.com/2015/01/meshmixer-2-8-infiltrates-123d" title="Permalink to Meshmixer 2.8 infiltrates 123D!">
              Meshmixer 2.8 infiltrates 123D!
            </a>
          </h2>

          <div class="post-info-top">
   			<span class="post-info-date">
   				Posted by                <a href="http://blog.123dapp.com/author/christian" title="View all posts by christian" rel="author">christian</a>
                on                <a href="http://blog.123dapp.com/2015/01/meshmixer-2-8-infiltrates-123d" title="10:20 am" rel="bookmark">January 30, 2015</a>
                   			</span>
            <span id="gotocomments"><a href="http://blog.123dapp.com/2015/01/meshmixer-2-8-infiltrates-123d#comments" title="Comment on Meshmixer 2.8 infiltrates 123D!"><span class="dsq-postid" rel="10062 http://blog.123dapp.com/?p=10062">1 comment</span></a></span>
          </div>
          <div class="clear"></div>
          <div class="entry">
            <p><a href="http://blog.123dapp.com/2015/01/meshmixer-2-8-infiltrates-123d/squid_geometric-2" rel="attachment wp-att-10081"><img class="aligncenter size-full wp-image-10081" title="squid_geometric" src="http://blog.123dapp.com/files/squid_geometric1.jpg" alt="" width="450" height="450" /></a></p>
            <p>With the new release of version 2.8 today, <a href="http://www.123dapp.com/meshmixer" target="_blank">Meshmixer</a> can now officially consider itself part of the Autodesk 123D family of products. We've added the ability to open and save to and from your 123D projects within the app! For example, now I can open a creation from the the <a href="http://blog.123dapp.com/2015/01/123d-creature-and-123d-sculpt-users-big-news-for-you" target="_blank">recently released 123D Sculpt+</a> inside the new Meshmixer app.</p>

          </div>

          <div class='post-info-bottom'>
            <span class='post-info-category'>
              Posted in:
              <a href="http://blog.123dapp.com/category/123d" title="View all posts in 123D" rel="category tag">
                123D
              </a>,
              <a href="http://blog.123dapp.com/category/123d-catch" title="View all posts in 123D Catch" rel="category tag">
                123D Catch</a>,
              <a href="http://blog.123dapp.com/category/123d-design" title="View all posts in 123D Design" rel="category tag">
                123D Design
              </a>,
              <a href="http://blog.123dapp.com/category/123d-make" title="View all posts in 123D Make" rel="category tag">
                123D Make
              </a>,
              <a href="http://blog.123dapp.com/category/123d-sculpt" title="View all posts in 123D Sculpt" rel="category tag">
                123D Sculpt</a>,
              <a href="http://blog.123dapp.com/category/3d-capture" title="View all posts in 3D Capture" rel="category tag">
                3D Capture
              </a>,
              <a href="http://blog.123dapp.com/category/3d-modeling" title="View all posts in 3D modeling" rel="category tag">
                3D modeling
              </a>,
              <a href="http://blog.123dapp.com/category/3d-printing" title="View all posts in 3D Printing" rel="category tag">
                3D Printing
              </a>,
              <a href="http://blog.123dapp.com/category/art-2" title="View all posts in Art" rel="category tag">
                Art
              </a>,
              <a href="http://blog.123dapp.com/category/artist-in-residence" title="View all posts in Artist in Residence" rel="category tag">
                Artist in Residence
              </a>,
              <a href="http://blog.123dapp.com/category/autodesk-2" title="View all posts in Autodesk" rel="category tag">
                Autodesk</a>,
              <a href="http://blog.123dapp.com/category/meshmixer" title="View all posts in Meshmixer" rel="category tag">
                Meshmixer
              </a>
            </span>
          </div>
        </div>

        <div id='wp_page_numbers'>
          <ul><li class="page_info">Page 1 of 34</li><li class="active_page"><a href="http://blog.123dapp.com/">1</a></li>
            <li><a href="http://blog.123dapp.com/page/2">2</a></li>
            <li><a href="http://blog.123dapp.com/page/3">3</a></li>
            <li><a href="http://blog.123dapp.com/page/4">4</a></li>
            <li><a href="http://blog.123dapp.com/page/5">5</a></li>
            <li><a href="http://blog.123dapp.com/page/6">6</a></li>
            <li><a href="http://blog.123dapp.com/page/7">7</a></li>
            <li><a href="http://blog.123dapp.com/page/8">8</a></li>
            <li><a href="http://blog.123dapp.com/page/9">9</a></li>
            <li><a href="http://blog.123dapp.com/page/10">10</a></li>
            <li class="space">...</li>
            <li class="first_last_page"><a href="http://blog.123dapp.com/page/34">34</a></li>
            <li><a href="http://blog.123dapp.com/page/2">&gt;</a></li>
          </ul>
          <div style='float: none; clear: both;'></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 sidebar">

        <div id="pinterest-pinboard-widget-2" class="module moduleBox widget widget_pinterest-pinboard-widget">
          <h3 class="moduleTitle">Some of our favorite models:</h3>
          <div id="pinterest-pinboard-widget-container">
            <div class="pinboard">
              <div class="row">
                <a href="https://www.pinterest.com/pin/312718767850447486/" target="_blank">
                  <img src="http://media-cache-ec0.pinimg.com/236x/3d/13/b4/3d13b4154814281bd345e1c43d1560d1.jpg" width="80" alt="Peter the Penguin as" title="Peter the Penguin as" />
                </a>
                <a href="https://www.pinterest.com/pin/312718767850447483/" target="_blank">
                  <img src="http://media-cache-ec0.pinimg.com/236x/09/45/ac/0945ac916b1a4d8e9d10fdec3346bb90.jpg" width="80" alt="Peter the Penguin as" title="Peter the Penguin as" />
                </a>
                <a href="https://www.pinterest.com/pin/312718767850447480/" target="_blank">
                  <img src="http://media-cache-ak0.pinimg.com/236x/17/2f/62/172f62a05149a836572a34b54c5d2375.jpg" width="80" alt="Peter the Penguin as" title="Peter the Penguin as" />
                </a></div>

            </div>
            <div class="pin_link">
              <a class="pin_logo" href="http://pinterest.com/Autodesk123D/">
                <img src="http://passets-cdn.pinterest.com/images/small-p-button.png" width="16" height="16" alt="Follow Me on Pinterest" />
              </a>
              <span class="pin_text"><a href="http://pinterest.com/Autodesk123D/" target="_blank">More Pins</a></span>
            </div>
          </div>
        </div>
        <div id="categories-3" class="module moduleBox widget widget_categories">
          <h3 class="moduleTitle">Categories</h3>
          <ul>
            <li class="cat-item cat-item-7"><a href="http://blog.123dapp.com/category/123d" title="View all posts filed under 123D">123D</a>
            </li>
            <li class="cat-item cat-item-8"><a href="http://blog.123dapp.com/category/123d-catch" title="View all posts filed under 123D Catch">123D Catch</a>
            </li>
            <li class="cat-item cat-item-234"><a href="http://blog.123dapp.com/category/123d/123d-circuits" title="View all posts filed under 123D Circuits">123D Circuits</a>
            </li>
            <li class="cat-item cat-item-715"><a href="http://blog.123dapp.com/category/123d/123d-circuits-video" title="View all posts filed under 123D Circuits Video">123D Circuits Video</a>
            </li>
            <li class="cat-item cat-item-175"><a href="http://blog.123dapp.com/category/123d/123d-creature" title="View all posts filed under 123D Creature">123D Creature</a>
            </li>
            <li class="cat-item cat-item-164"><a href="http://blog.123dapp.com/category/123d-design" title="View all posts filed under 123D Design">123D Design</a>
            </li>
            <li class="cat-item cat-item-9"><a href="http://blog.123dapp.com/category/123d-make" title="View all posts filed under 123D Make">123D Make</a>
            </li>
            <li class="cat-item cat-item-10"><a href="http://blog.123dapp.com/category/123d-sculpt" title="View all posts filed under 123D Sculpt">123D Sculpt</a>
            </li>
          </ul>
        </div>
        <div id="wpp-3" class="module moduleBox widget popular-posts">
          <h3 class="moduleTitle">Most read this month</h3>
          <ul>
            <li><a href="http://blog.123dapp.com/2015/01/123d-creature-and-123d-sculpt-users-big-news-for-you" title="123D Creature and 123D Sculpt users &#8211; big news for you!"><span class="wpp-post-title">123D Creature and 123D Sc&#8230;</span></a> </li>
            <li><a href="http://blog.123dapp.com/2015/01/going-beyond-3d-printing" title="Going beyond 3D printing"><span class="wpp-post-title">Going beyond 3D printing</span></a> </li>
            <li><a href="http://blog.123dapp.com/2014/05/123d-design-desktop-1-4-3d-file-import-and-3d-printing-enhancements" title="123D Design desktop 1.4: 3D file import and 3D printing enhancements"><span class="wpp-post-title">123D Design desktop 1.4: &#8230;</span></a> </li>
            <li><a href="http://blog.123dapp.com/2014/12/123d-circuits-video-series-light-an-led" title="123D Circuits Video Series : Light an LED"><span class="wpp-post-title">123D Circuits Video Serie&#8230;</span></a> </li>
            <li><a href="http://blog.123dapp.com/2015/01/meshmixer-2-8-infiltrates-123d" title="Meshmixer 2.8 infiltrates 123D!"><span class="wpp-post-title">Meshmixer 2.8 infiltrates&#8230;</span></a> </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>