<%= render "profile_start" %>

<%= render "/users/profile/top_menu" %>

<div class="panel-body">
  <div class="row">
    <div class="col-lg-12">
      <dl class="dl-horizontal">
        <dt>Membership level:</dt>
        <dd>
          <strong>Free member</strong>

          <a href="/gopremium">Upgrade to Premium now</a>
          |
          <a href="http://www.123dapp.com/Subscriptions/UpgradeAccount.cfm">Why upgrade?</a>
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Next billing date:</dt>
        <dd>None
        </dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Recent payments:</dt>
        <dd>You have no recent payments.</dd>
      </dl>
      <!--            <hr>
      <div class="text-right"><a data-toggle="modal" href="#myModal3">Delete My Account</a></div>-->
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>